$font-size-base             : 16px;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$ff-sans-serif              : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-serif                   : Georgia, 'Times New Roman', Times, serif;

$t-duration                 : 0.4s;

$shell-max-width            : 1140px;
$shell-gutter               : 80px;
$shell-gutter-tablet        : 40px;
$shell-gutter-mobile        : 20px;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #055590;
