@import '../../styles/load.scss';

.section-grid {
    padding: 3rem 0;

    .section__head {
        text-align: center;
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .grid__row > p {
        width: 100%;
        text-align: center;
    }

    .article-recipe .btn--red,
    .article-recipe .article__actions {
        display: none;
    }
}